 @import url("reset.css");
/* * { color: yellow; }*/

h1 {
	color: blue;
}

a {
	color: rgb(230, 162, 16);
}

.text {
	 color: green;
}

#formgrup {
	 color: yellow;
}

div.text {
	 color: rgb(143, 121, 243);
}

.lesson.text {
	 color: lightblue;
}

.lesson1 {
	color: red;
}
.text1 {
	 color: red; 
}

.lesson2,
.text2 {
	 color: rgb(141, 141, 167); 
}

.text3 p {
	color: rgb(173, 141, 235); 
}

.text3 .lesson3 { color: coral;
}

.text4 * {
	 color: rgb(65, 104, 65); 
}

.text5 > p {
	 color: red;
}

.text6 ~ p {
	color: rgb(151, 151, 55); 
}

.text7 + p {
	 color: rgb(21, 146, 140); 
}

[class*="__container"] {
	color: yellowgreen;
}


